<h2 mat-dialog-title>Terms Of Use</h2>
<mat-dialog-content>
    <p>In order to use the Explore California website to promote your tour packages, all information must be correct.</p>
    <p>Do you agree that the information entered for the Explore California website is factually correct?</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>No</button>
    <button mat-raised-button color="primary" mat-dialog-close="true">Yes</button>
</mat-dialog-actions>
